body{
    background-color: #AFEEEE;
    background-color: #AFEEEE;
    font-family: 'Montserrat', sans-serif;
    
}
h2,h3,h4,h5,h6,p{
    color:#187272;
    text-decoration:bold;
    text-align: center;
}


li{
  font-family:'Roboto', sans-serif;
  display: inline;
}
h1{
    font-size: 75px;
   	color:#FFF5EE;
   	text-align: center;
}
   	
h3{
    font-size: 25px;
}


/* Dropdown Button */
.menuBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*theater buttons*/
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

/*button 1*/

.button1 {
    background-color: transparent;
    color: black; 
    border: 2px solid #008cff;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}


/*button 2*/


.button2 {
    background-color: transparent;
    color: black; 
    border: 2px solid #008cff;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}


/*button 3*/

.button3 {
    background-color: transparent;
    color: black; 
    border: 2px solid #008cff;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}


/*button 4*/

.button4 {
    background-color: transparent;
    color: black; 
    border: 2px solid #008cff;
}

.button4:hover {background-color: #e7e7e7;}

/*buttton 5*/

.button5 {
   background-color: transparent;
    color: black; 
    border: 2px solid #008cff;
}

.button5:hover {
    background-color: #555555;
    color: white;
}